$fontStack: 'Playfair Display', sans-serif;
$fontStackSerif: 'Playfair Display', sans-serif;
$fontSizeTiny: 10px;
$fontSizeSmall: 12px;
$fontSizeTiny: 10px;
$fontSize: 18px;
$fontSizeMedium: 20px;
$fontSizeLarge: 26px;
$lineHeight: 1;
$letterSpacing: 2px;
