$fontStack: 'Playfair Display', serif;
$fontStackSerif: 'Karla', sans-serif;
$fontSizeSmall: 14px;
$fontSize: 18px;
$fontSizeMedium: 20px;
$fontSizeLarge: 26px;
$fontSizeHuge: 60px;
$lineHeight: 1;
$letterSpacing: 0px;
