// colour
$black: #131313;
$white: #fff;
$grey: #ececec;
$colour: #ff6f61;
$colourLight: lighten($colour, 25%);
$colourDark: darken($colour, 20%);
$blue: #8080ff;
$colourLink: $blue;
$background: $white;

// size
$space: 8px;

// style
$border: 2px solid $colour;
$textShadow: 0px 0px 8px rgba($white, 1);

// breakpoints
$siteWidth: 1160px;
$tablet: 1024px;
$smallScreen: 960px;
$mobile: 768px;
$mobileSmall: 480px;

// index
$indexCanvas: 1;
$indexOverlay: 2;
$indexFooter: 3;
$indexAlert: 4;
$indexLoading: 100;

// animation
$transition: 0.35s;
$transitionMedium: 0.5s;
$transitionSlow: 1s;
