div, * {
	box-sizing: border-box;
	//outline: 1px solid rgba(black, 0.05);
}

html {
	touch-action: manipulation;
}

html, body {
	margin: 0;
	padding: 0;
	width: 100%;
	overflow: hidden;
}

body {
	font-family: $fontStack;
	font-size: $fontSize;
	line-height: $lineHeight;
	letter-spacing: $letterSpacing;
	color: $colour;
	overflow-x: hidden;
	user-select: none;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
	background: $background;
}

a {
	color: $colourLink;
}
