@keyframes anim-heart {
  0% { opacity: 0; }
  50% { opacity: 1; }
  100% { opacity: 0; }
}

.loading {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: $indexLoading;
  background: $white;
  transition: $transitionMedium;
  transition-delay: $transitionMedium;
  pointer-events: none;
  opacity: 0;
  display: flex;
  justify-content: center;
  align-items: center;

  .loading__inner {
    color: $black;
    font-size: $fontSizeMedium;
    opacity: 0;
    animation-name: anim-heart;
    animation-duration: 1s;
    animation-iteration-count: infinite;
  }

  &.active {
    opacity: 1;
  }
}
