.wrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  .wrapper__lozenge {
    width: 75vh;
    height: 75vh;
    flex-shrink: 0;
    background: radial-gradient(white, rgba(white, 0), rgba(white, 0));
  }
}
